.main-title{
    text-align:center;
    font-size:42px;
    font-weight:bold;
    color:#4F8BF9;
}

.card{
    padding:20px;
    border-radius:15px;
    background:#1E1E1E;
    border:1px solid #444;
    margin-bottom:20px;
}

.score{
    color:#00E676;
    font-size:22px;
    font-weight:bold;
}